<!doctype html>
<html lang="en">
<head>
  <title>Account Status</title>
</head>
<body>
  <p>You have successfully created an account.</p> <br />
  <p>Your <strong>username</strong> is : <%= @username %> and your <strong>password </strong> is <%= @password %></p>
</body>
</html>
